<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">SISTEMA DE CONTROLE DE ESTOQUE CCXP23</h1>
    <p class="mb-4">Aqui são listados os equipamentos cadastrados.<a
            target="_blank"</p>

    <!-- DataTales Example -->

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <a href="/equipamentos/novo_equipamento" class="btn btn-primary mr-2">CADASTRAR NOVO EQUIPAMENTO</a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <a href="/equipamentos/omelete/novo_equipamento" class="btn btn-primary mr-2">CADASTRAR NOVO EQUIPAMENTO O&CO</a>
        </div>
    </div>
<div th:replace="shared/footer"></div>